.App {
  text-align: center;
  height: 969px;
}

.t-cen {
  text-align: center;
}
.left-side {
  background: #20232b;
  width: 216px;
  color: #fff;
  line-height: 30px;
}
.header {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  height: 64px;
  line-height: 64px;
}